.idea
.vscode
*.*~
*/replication/pg-*
*/replication/docker-compose.override.yml
.DS_Store
.python-version
venv
.venv
__pycache__
scenario_tests/datadir_init/default-pg-data-dir
scenario_tests/datadir_init/local-pg-data-dir
.env
