sudo: required

language: python

services:
  - docker

python:
  - '3.7'

env:
  - SCENARIO=datadir_init
  - SCENARIO=replications
  - SCENARIO=collations
  - SCENARIO=extensions

before_script:
  - ./build-test.sh

script:
  - pushd scenario_tests/${SCENARIO}
  - ./test.sh
  - popd
